@font-face {
    font-family: 'SpaceGrotesk';
    src: url(./assets/fonts/SpaceGrotesk-Medium.otf);
}

@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/Poppins-Medium.ttf);
}

/*@font-face {
    font-family: 'SpaceGrotesk';
    src: url(./assets/fonts/SpaceGrotesk-Light.otf);
}*/


body {margin: 0 auto;
    font-family: SpaceGrotesk;
    color: #1a1a1a;
}


/* EMPIEZA EL MENu */
nav.menu {
position: relative;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 10vh;
/*background-color: #1a1a1a;*/
display: flex;
align-items: center;
justify-content: center;
transition: 0.6s;
z-index: 1000;}


div.contenedor{width: 60%;
text-align: center;}



.elementos_menu{list-style: none;
position: relative;
color: white;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;}

.elementos_menu .link{position: relative;
    color: white;
    text-decoration: none;}

    .elementos_menu .link:hover{
        color: rgb(228, 228, 228);
        text-decoration:none}

nav.sticky {background-color: #1a1a1a;}
    

/* TERMINA EL MENU*/


/* EMPIEZA EL HEADER */



.parent {margin: 0 auto;
    position: relative;
    background:linear-gradient(rgba(5, 7, 12, 0.40), rgba(5, 7, 12, 0.40)), url(./assets/img/banda_img1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    

    
    .logo { grid-area: 1 / 1 / 3 / 6; 

            text-align: center;
        display: flex;
    align-items: center;
justify-content: center;}

    .noct2 { grid-area: 3 / 1 / 6 / 3;
    position:absolute;
    left: 100px;
    bottom: 100px; ;
    font-size: 8em;
    line-height: 150px;
    color: white;}

    .texto { grid-area: 3 / 3 / 6 / 5;
        position: absolute;
        right:100px;
        bottom: 100px;
    font-size: 2em;
    ;
color: white;}

/* TERMINA EL HEADER */


/*EMPIEZA LA SECCION DE PRESENTACION*/

.presentacion{
    width: 100%;
height: 80vh;
background: linear-gradient(#b2bec3, #FFF);
text-align: center;
display: flex;
flex-direction: column;
align-content: center;
flex-wrap: wrap;
justify-content: center;}

.titulo_presentacion{
    font-family: Poppins;
    font-size:4em;
    margin: 0;
    padding-top: 4%;
    color: #1a1a1a;
}

.contenedor_texto {width: 60%;
text-align: center;}
.contenedor_texto > p {font-size: 1.5em;
margin-top: 5%;
color: #1a1a1a;}


/*TERMINA LA SECCION DE PRESENTACION*/


/*EMPIEZA LA SECCION DE INTEGRANTES*/


.integrantes{ margin: 0 auto;
    width: 100%;
height: 85vh;
text-align: center;
}

.integrantes h2{font-family: Poppins;
font-size: 4em;}

.contenedor_tarjetas{margin: 0 auto;
    width: 90%;
height: 50vh;
display: flex;
flex-wrap: wrap;
justify-content:space-around;
text-align: left;
}

.contenedor_tarjetas > .tarjeta{
    width: 500px;
height: 500px;
overflow: hidden;
border-radius: 25px;}

.contenedor, .tarjeta, img {width:500px;}

.tarjeta{position: relative;}


.tarjeta h3{ position: absolute;
    font-family: Poppins;
    color: #1a1a1a;
font-size: 2em;
left: 45px;}


.tarjeta span{ position: absolute;
font-size: 1.5em;
left: 45px;
bottom: 60px;}



.contenedor_tarjetas > .tarjeta:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/*TERMINA LA SECCION DE INTEGRANTES*/



/*EMPIEZA LA SECCION DE MUSICA*/

.musica{margin: 0 auto;
    width: 100%;
height: auto;
background-color: #1a1a1a;
color: white;
text-align: center;

}

.musica h3 {font-size: 4em;
font-family: poppins;
padding-top: 3%;}


.contenedor_musica{width: 100%;
    height: auto;
display: flex;
flex-direction: row;
justify-content: center;
align-content: center;
align-items: center;
padding-bottom: 10% ;}

.contenedor_portada {

    width: 50%;
height: auto;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

.img_hover {position: relative;
    width: 500px;
    height: 500px;}

    .contenido_hover{width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content:center ;
        align-items: center;
        opacity: 0;
transition: 0.6s;

}

.contenido_hover:hover{opacity: 1;}

.contenido_hover ul li {list-style: none;
    text-align: left;
font-family: poppins;
font-size: 2em;
}



.contenedor_portada > img{width: 700px;}


.texto_eclipse {position: relative;
    width: 50%;
height: 50vh;
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-content: center;
align-items: center;
text-align: left;}

.texto_eclipse p {position: absolute;
    top: 20%;
    font-size: 2em;
}

.texto_eclipse button{position: absolute;
color: white;
text-align: center;
right: 35%;
bottom: 20%;
font-family: poppins;
font-size: 2.5em;
background-color: #1a1a1a;
border:  2px solid white;
padding: 2% 8% 2% 8%;}

.texto_eclipse button:hover{background-color: white;
color: #1a1a1a;}



/*TERMINA LA SECCION DE MUSICA*/

/*EMPIEZA SECCION EVENTOS*/


.eventos{width: 100%;
height: 80vh;
text-align: center;
font-size: 3em;
display: flex;
align-items: center;
justify-content: center;}

.eventos span{border: 3px solid #1a1a1a;
border-radius: 85px;
padding: 2%;}


/*TERMINA SECCION EVENTOS*/


/*EMPIEZA SECCION GALERIA*/

.galeria{width: 100%;
height: 100vh;
background: linear-gradient(#FFF, #b2bec3);}



/*TERMINA SECCION GALERIA*/

footer {display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    width: 100%;
height: 8vh;
background-color: #1a1a1a;
color: white;}

footer span {text-align: center;}


.contenedor_footer{width: 15%;
    display: flex;
    justify-content: center;}


footer ul {display: flex; flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
list-style: none;}



footer .contenedor_footer ul li a{color: white;
text-decoration: none;}